<a href="https://colab.research.google.com/github/SamillyNunes/machine-learning-study/blob/main/svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Seleção de Atributos

In [1]:
# importacoes
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
# carregar dados
credito = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/udemy/data-science/data-31/Credit.csv")
credito

    checking_status  duration  ... foreign_worker class
0                <0         6  ...            yes  good
1          0<=X<200        48  ...            yes   bad
2     'no checking'        12  ...            yes  good
3                <0        42  ...            yes  good
4                <0        24  ...            yes   bad
..              ...       ...  ...            ...   ...
995   'no checking'        12  ...            yes  good
996              <0        30  ...            yes  good
997   'no checking'        12  ...            yes  good
998              <0        45  ...            yes   bad
999        0<=X<200        45  ...            yes  good

[1000 rows x 21 columns]

In [4]:
previsores = credito.iloc[:,0:20].values
classe = credito.iloc[:,20].values

In [5]:
# Conversão dos atributos categóricos para atributos numéricos, passando o índice de cada atributo categórico
labelencoder = LabelEncoder()
previsores[:,0] = labelencoder.fit_transform(previsores[:,0])
previsores[:,2] = labelencoder.fit_transform(previsores[:,2])
previsores[:, 3] = labelencoder.fit_transform(previsores[:, 3])
previsores[:, 5] = labelencoder.fit_transform(previsores[:, 5])
previsores[:, 6] = labelencoder.fit_transform(previsores[:, 6])
previsores[:, 8] = labelencoder.fit_transform(previsores[:, 8])
previsores[:, 9] = labelencoder.fit_transform(previsores[:, 9])
previsores[:, 11] = labelencoder.fit_transform(previsores[:, 11])
previsores[:, 13] = labelencoder.fit_transform(previsores[:, 13])
previsores[:, 14] = labelencoder.fit_transform(previsores[:, 14])
previsores[:, 16] = labelencoder.fit_transform(previsores[:, 16])
previsores[:, 18] = labelencoder.fit_transform(previsores[:, 18])
previsores[:, 19] = labelencoder.fit_transform(previsores[:, 19])

In [6]:
#divisao da base de dados -> treinamento e teste
x_treinamento, x_teste, y_treinamento, y_teste = train_test_split(previsores,classe,test_size=0.3,random_state=0)

### Modelo: Suport Vector Machine

In [7]:
svm = SVC()
svm.fit(x_treinamento, y_treinamento)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [8]:
#previsoes
previsoes = svm.predict(x_teste)
previsoes

array(['good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'bad', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'good', 'bad', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'bad', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'bad',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'bad', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'bad', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good'], dtype=object)

In [10]:
taxa_acerto = accuracy_score(y_teste,previsoes)
taxa_acerto

0.7166666666666667

### Extração das categorias + importantes

In [11]:
forest = ExtraTreesClassifier()
forest.fit(x_treinamento, y_treinamento)

atributos_importantes = forest.feature_importances_
atributos_importantes # vai retornar por score, na ordem de colunas do dataset e com uma pontuacao representando sua relevancia

array([0.11087692, 0.08374942, 0.06321656, 0.05869487, 0.08092373,
       0.0475918 , 0.05455542, 0.04830165, 0.04539731, 0.02671801,
       0.04916487, 0.04829081, 0.06548155, 0.03604247, 0.03634675,
       0.03582539, 0.04140717, 0.02517072, 0.03351262, 0.00873196])

#### Nova base com os mais importantes

In [30]:
x_treinamento2 = x_treinamento[:,[0,1,2,4]]
x_teste2 = x_teste[:,[0,1,2,4]]

In [31]:
svm2 = SVC()
svm2.fit(x_treinamento2,y_treinamento)
previsoes2 = svm2.predict(x_teste2) 
taxa_acerto2 = accuracy_score(y_teste, previsoes2)
taxa_acerto2

0.7166666666666667